.CompleteProfilePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #f9f7f6;
  box-sizing: border-box;
  position: relative;
}

.localHeader {
  position: absolute;
  top: 20px;
  left: 40px;
}

.localHeader img {
  height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 1.5rem;
}

@keyframes slideDownFade {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.heading {
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: 2.1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    animation: slideDownFade 0.8s ease-out forwards;
}


.form {
    background-color: #ffffff52;
    border: #0b0b0b 3.5px solid;
    padding: 2.5rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form h2 {
    font-family: "Arial", sans-serif;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
}

.form input,
.form select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    transition: border-color 0.2s ease;
    font-family: "Arial", sans-serif;

}

.form input:focus,
.form select:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}

.button {
    background-color: #222;
    color: white;
    padding: 0.75rem;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease;
}

.button:hover {
    background-color: #444;
}