.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  position: relative;
  z-index: 200;
  background-color: #f9f7f6;
  font-family: "Montserrat", sans-serif;
}

.logoContainer img {
  width: 180px;
  height: auto;
}

.nav {
  display: flex;
  gap: 35px;
  z-index: 200; 
}

.link {
  text-decoration: none;
  color: #080808;
  font-weight: 500;
  font-size: 18px;
  transition: all 0.3s ease;
}

.link:hover {
  font-weight: 700;
  color: #5c1a1a;
}


.activeLink {
  font-weight: bold;
  color: #5c1a1a;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.userButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.userInitial,
.userImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  overflow: hidden;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: relative; 
  z-index: 201;      
}

@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .nav {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    width: 60%;
    height: 100vh;
    background-color: #ffffffb2;
    padding-top: 100px;
    gap: 30px;
    transition: right 0.4s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
    z-index: 200; 
  }

  .nav.open {
    right: 0;
  }

  .link {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.35);
    z-index: 199; 
  }
}

.buttons {
display: flex;
flex-direction: row; 
gap: 20px; 
}

.profileButton {
background: #f5f5f5;
padding: 10px 14px;
border-radius: 8px;
cursor: pointer;
font-size: 16px;
transition: 0.2s;
width: 100px;
text-align: center;
}


.profileButton:hover {
background: #090909;
color: #fff;
}