.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  gap: 20px;
}

.column {
  flex: 1;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.column h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.column a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.column a:hover {
  color: #5c1a1a;
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  Margin-top: 48px;
}

.social a {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.social a:hover {
  color: #5c1a1a;
  border-color: #5c1a1a;
}

.bottomLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}
.bottomLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.bottomLinks a:hover {
  color: #5c1a1a;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .column {
    min-width: 100%;
    align-items: center;
  }
}
