.weatherContainer {
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow: hidden;
}

.weatherwidget-io {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
