.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 50px;
}

/* אזור התוכן הראשי */
.mainArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  overflow: visible;
}

/* עמודת הלוק (צד שמאל) */
.mainArea > :first-child {
 flex: 0 0 22%;
  position: sticky;
  align-self: flex-start;
}

/* אזור הגריד של הבגדים */
.mainArea > :last-child {
  flex: 1;
  min-width: 300px;
}

/* מסכים קטנים */
@media (max-width: 1024px) {
  .mainArea {
    flex-direction: column;
    align-items: center;
  }

  .mainArea > :first-child {
    position: static;    /* מבטל sticky במסכים קטנים */
    width: 100%;
    max-height: none;
    margin-bottom: 20px;
  }

  .mainArea > :last-child {
    width: 100%;
  }
}
