.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 16px;
  background-color: #fff;
  width: fit-content;      /* מתאים לגודל התוכן */
  box-sizing: border-box;
  transition: transform 0.2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-bottom: 12px;
}

.itemWrapper {
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.shareButtons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
}

.shareButton {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: larger;
  color: #fff;
  transition: background-color 0.2s;
}

.shareButton.copy { background-color: #000; }
.shareButton.copy:hover { background-color: #333; }

.shareButton.email { background-color: #1a73e8; }
.shareButton.email:hover { background-color: #1558b0; }

.shareButton.whatsapp { background-color: #25d366; }
.shareButton.whatsapp:hover { background-color: #1da851; }

.shareButton.facebook { background-color: #1877f2; }
.shareButton.facebook:hover { background-color: #145dbf; }


