.card {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(92, 26, 26, 0.7);
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  width: fit-content;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-bottom: 12px;
}

.itemWrapper {
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.shareButtons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
}

.shareButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #5c1a1a;
  background-color: #ffffff;
  color: #5c1a1a;
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
  cursor: pointer;
}

.shareButton:hover {
  background-color: #5c1a1a;
  color: #fff;
  border-color: #5c1a1a;
  transform: scale(1.1);
}

.shareButton:active {
  transform: scale(1);
}
