.header {
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
  z-index: 200;
}

.logoContainer {
  display: flex;
  align-items: center;
margin-left: -30px;
margin-top: -10;
}

.nav {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px; 
  height: 100vh;
  background-color: #ffffffb2;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.15);
  padding-top: 120px;
  gap: 35px;
  transition: right 0.4s ease-in-out;
  z-index: 250;
}

.nav.open {
  right: 0;
}

.link {
  font-size: 23px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  color: #060606;
  font-weight: 500;
  font-family: "Arial", sans-serif;
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  padding-top: 30px;
}

.link:hover {
  font-weight: 700;
}
.nav.open .link {
  opacity: 1;
  transform: translateX(0);
}

.nav.open .link:nth-child(1) { transition-delay: 0.1s; }
.nav.open .link:nth-child(2) { transition-delay: 0.4s; }
.nav.open .link:nth-child(3) { transition-delay: 0.7s; }
.nav.open .link:nth-child(4) { transition-delay: 1s; }
.nav.open .link:nth-child(5) { transition-delay: 1.3s; }
.nav.open .link:nth-child(6) { transition-delay: 1.6s; }

.hamburger {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
  color: #000;
  z-index: 300;
}

.rightControls {
  display: flex;
  align-items: center;
  gap: 10px; 
  z-index: 300;
  margin-bottom: 15px;
}

.userButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 150;
}
