@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Montserrat", sans-serif;
  background-color: #f9f7f6;
  overflow: hidden;
}

.title {
  font-size: 4rem;
  color: #080808;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
  text-shadow: 1px 1px 0 #5c1a1a33;
  margin: 10px 0 0 0;
  margin-bottom: 30px;
  text-shadow: 1px 1px 0 #5c1a1a66, 2px 2px 4px #5c1a1a33;
}

.subtitle {
  font-size: 30px;
  color: #0b0b0b;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 14px 35px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  height: 60px;
  flex: 1;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.button:hover {
  background-color: #333;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 0 2px #5c1a1a66;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.button:hover::after {
  opacity: 1;
  box-shadow: 0 0 10px #5c1a1a66;
}
@media (max-width: 480px) {
  .localHeader img {
    width: 100px;
  }

  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .button {
    padding: 10px 20px;
    font-size: 1rem;
    max-width: 150px;
  }
}
