.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  width: fit-content;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  margin-bottom: 12px;
}

.itemWrapper {
  overflow: hidden;
  border-radius: 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.info {
  font-size: 18px;
  margin-top: 8px;
}
