.newLookMobileBanner {
  position: fixed;       
  right: 20px;          
  width: 200px;
  height: 60px;
  border-radius: 8px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  z-index: 9999;        
  cursor: pointer;
}

.newLookMobilePanel {
  position: fixed;
  bottom: 90px; /* מרחק מהכפתור */
  right: 20px;
  width: 80%;           /* קטן יותר מרוחב המסך */
  max-width: 320px;     /* רוחב מקסימלי קטן יותר */
  height: 50%;          /* גובה קטן יותר */
  max-height: 400px;    /* לא יתפוס יותר מדי מסך */
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
  z-index: 9998;
  overflow-y: auto;
  display: none;        
}

.newLookMobilePanel.open {
  display: flex;
}
.text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #fff;
  margin-top: 4px;
  line-height: 1.2;
}
.downFixed {
  position: fixed;
  right: 15px;
  z-index: 9999;
  cursor: pointer;
  animation: bounce 1.2s infinite;
  margin-bottom: 70px;
  margin-right: 12%;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
}


